

h1 {
 text-align: center;
  color: #fff;
  background-color: #87CEFA;
}

  .link-northAmerica{
    position: relative;
    top: -392px;
    left: 274px;
    font-size: 18px;
    display: block;
    color: #fff;
    text-decoration: none;
  }

.link-africa{
    position: relative;
    top: -243px;
    left: 682px;
    font-size: 18px;
    display: block;
    color: #fff;
    text-decoration: none;
  }


.link-europe{
    position: relative;
    top: -450px;
    left: 644px;
    font-size: 18px;
    display: block;
    color: #fff;
    text-decoration: none;
  }

  .link-middleEast{
    position: relative;
    top: -408px;
    left: 747px;
    font-size: 18px;
    display: block;
    color: #fff;
    text-decoration: none;
  }

  .link-antarctica{
    position: relative;
    top: 71px;
    left: 639px;
    font-size: 18px;
    display: block;
    color: #87CEFA;
    text-decoration: none;
  }

  .link-southAmerica{
     position: relative;
    top: -261px;
    left: 380px;
    font-size: 18px;
    display: block;
    color: #fff;
    text-decoration: none;
  }

  .link-austriliaOceania{
     position: relative;
    top: -261px;
    left: 1011px;
    font-size: 18px;
    display: block;
    color: #fff;
    text-decoration: none;
  }
