.map {
  text-align: center;
  /*background-color: #000;
  height:52vh;
  opacity: 0.5;
  border-radius: 50px 25px;*/
}


.map-selected {
fill:  #2E8B57;

}

.map-unselected {

  fill: #C0C0C0;
}

.map-selected:hover, .map-unselected:hover {
  cursor: pointer;
}

.map-img{
  height: 55vh;
  width: 90vw;
}
